.hero {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 115px;
    overflow: hidden;
    margin-bottom: var(--section-padding);
  }
  
  .heroBanner {
    max-width: 500px;
    width: 125%;
    margin-bottom: 30px;
  }
  
  :is(.heroSocialList, .scrollDown) {display: none; }
  
  .heroContent { max-width: 450px; }
  
  
  
  .hero .btnPrimary { margin-inline: auto; }
  .h2 { font-size: var(--fs-2); }
  
  .btn {
    max-width: max-content;
    color: var(--color-primary);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: var(--radius-4);
    transition: var(--transition-1);
  }
  
  .btnPrimary { border-color: var(--color-primary); }
  
  .btnPrimary:is(:hover, :focus) {
    background: var(--color-primary);
    color: var(--bg-primary);
  }
  .tooltip {
    position: absolute;
    top: -40px;
    background: var(--raw-seinna);
    min-width: max-content;
    color: var(--white);
    font-size: 15px;
    font-weight: var(--fw-700);
    padding: 5px 10px;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-1);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 1;
  }
  @media (min-width: 1200px) {


  .heroSocialList { left: -80px; }

  .scrollDown { right: -80px; }

  }






   /* 
   hero css 
  */
  @media (min-width: 992px) {
  .hero {
    position: relative;
    padding-top: 0;
    height: 100vh;
  }

  .heroBanner {
    max-width: unset;
    height: 100%;
    margin-bottom: 0;
  }

  .hero img {
    height: 100%;
    width: auto;
    margin-inline: auto;
  }

  .heroContent {
    --color-primary: var(--white);

    position: absolute;
    top: 50%;
    filter: drop-shadow(2px 4px 10px var(--black));
  }

  .hero .btnPrimary:is(:hover, :focus) { color: hsl(0, 0%, 12%); }

  .heroSocialList {
    display: block;
    position: absolute;
    bottom: 92px;
    left: -30px;
  }

  .heroSocialList::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 13px;
    width: 2px;
    height: 30px;
    background: var(--color-secondary);
  }

  .heroSocialLink {
    position: relative;
    /* color: var(--color-secondary); */
    color: white;
    margin-block: 5px;
    padding: 5px;
    font-size: 18px;
    transition: var(--transition-1);
  }

  .heroSocialLink:is(:hover, :focus) { color: var(--color-primary); }

  .heroSocialLink .tooltip {
    --trans-x: 10px;

    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) translateX(var(--trans-x));
  }

  .heroSocialLink:is(:hover, :focus) .tooltip {
    --trans-x: 0;
    opacity: 1;
  }

  .scrollDown {
    display: block;
    position: absolute;
    bottom: 80px;
    right: 30px;
    color: var(--color-secondary);
    font-size: 1.125rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: top right;
  }

  .scrollDown::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -50px;
    width: 30px;
    height: 2px;
    background: var(--color-secondary);
  }

}
.heroTitle {
    /* position:  relative; */
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 3em;
  }

  @media (max-width: 992px) {
      .heroBanner{
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;
      }

  }

 