.skills {
    padding-block: var(--section-padding);
    padding: 2em;
  }
  
  .skillsContent {
    margin-bottom: 50px;
  }
  
  .skillsToggle {
    background: var(--bg-secondary);
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .skillsToggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 93px;
    background: var(--raw-seinna);
    border-radius: 100px;
    transition: var(--transition-1);
    z-index: -1;
  }
  
  .skillsToggle.active::before {
    left: 98px;
    width: 94px;
  }
  
  .toggleBtn {
    color: var(--color-primary);
    
    font-family: var(--ff-poppins);
    padding: 5px 25px;
    transition: var(--transition-1);
  }
  
  .toggleBtn.active {
    color: var(--white);
  }
  
  .skillsBox {
    display: block;
  }
  
  .skillsBox.active {
    display: block;
  }
  
  
  .skillsList,
  .toolsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    animation: fadeIn 0.5s ease-out forwards;
  }
  .skillCard_li{
    width: auto;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skillCard {
    position: relative;
    background: var(--bg-secondary);
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-1);
    cursor: help;
  }
  
  .skillCard:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    background: var(--tooltip-bg);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--transition-1);
  }
  
  .cardIcon img {
    width: 40px;
    height: 40px;
  }
  

  @media (min-width:980px) {


    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
      }
    
      .skillsContent { margin-bottom: 0; }
      
      .skillsToggle { margin-inline: 0; }
    
  }
    
  .sectionSubtitle {
    position: relative;
    color: var(--color-secondary);
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .sectionSubtitle::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 2px;
    background: var(--color-secondary);
  }
  
  .sectionTitle {
    max-width: 350px;
    margin-bottom: 30px;
  }
  
  .sectionText{
    color: var(--color-secondary);
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .tooltip {
    position: absolute;
    top: -40px;
    background: var(--raw-seinna);
    min-width: max-content;
    color: var(--white);
    font-size: 15px;
    font-weight: var(--fw-700);
    padding: 5px 10px;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-1);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 1;
  }
   
  .container { padding-inline: 10px; }
  
  .h1 {
    font-size: var(--fs-1);
    line-height: 1.2;
    font-weight: 400;
  }
  
  .h2,
  .h3,
  .h4 {
    color: var(--color-primary);
    font-family: var(--ff-poppins);
    line-height: 1.2;
  }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-3); }
  
  .h4 { font-size: var(--fs-5); }
  
  .w-100 { width: 100%; }
  
  .btn {
    max-width: max-content;
    color: var(--color-primary);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: var(--radius-4);
    transition: var(--transition-1);
  }
  
  .btnPrimary { border-color: var(--color-primary); }
  
  .btnPrimary:is(:hover, :focus) {
    background: var(--color-primary);
    color: var(--bg-primary);
  }
  
  .btnSecondary {
    background: var(--raw-seinna);
    border-color: var(--raw-seinna);
    color: var(--black);
  }
  
  .btnSecondary:is(:hover, :focus) { --raw-seinna: hsl(24, 74%, 64%); }

  .toolsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }