.footer {
    background: var(--bg-secondary);
    padding-block: 20px;
    text-align: center;
    /* padding: 0px 40px ; */
    box-shadow: var(--shadow-1);
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer .logo { margin-bottom: 15px; }
  
  .copyright {
    color: var(--color-secondary);
    line-height: 1.6;
  }
  .container {
    display: flex;
    padding: 0 0.5em;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .copyright a {
    display: inline-block;
    color: var(--raw-seinna);
  }
  
  
  @media (min-width: 992px) {

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .logo { margin-bottom: 0; }

}
.logo {
    position: relative;
    min-width: 77px;
    z-index: 2;
  }
  
  .logo a {
    color: var(--color-primary);
    font-family: var(--ff-saira-stencil-one);
    font-size: 2em;

  }
  
  .logo span {
    display: inline-block;
    color: var(--raw-seinna);
    margin-left: 2px;
  }
  

  @media (max-width: 968px) {
    .logo span{
      display: none;
    }
  }